
body{
  background-color: black;
  background-image: url(ReddBackground.jpg);
  opacity: 0.9;
  background-blend-mode: luminosity;
}
input[type=text] {
  float: right;
  display:block;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
}
h1  {
  text-align: left;
  background-color: lightblue;
  opacity: 0.9;
  color: red;
  font-weight: bold;
}

h2  {
  text-align: center;
  background-color: lightblue;
  opacity: 0.9;
  font-weight: bold;
}
#tag  {
  font-size: medium;
  font-weight: bold;
  text-align: left;

}
p {
  text-align: center;
  background-color: lightblue;
  color: black;
  font-weight: normal;
}

ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

li  {
  display: inline;
  border-right: 1px solid #555;
}

li a  {
  /*background-color:*/
  padding-left: 8px;
  padding-right: 8px;
  color: black;
}

embed {
  text-align: center;
  width: 100%;
  height: 75vw;
}
