body{
  opacity: 1.0;
  background-blend-mode: luminosity;
  text-decoration:none;
  
}
h1  {
  text-align: center;
  opacity: 0.9;
  font-weight: bold;
}

h2  {
  text-align: center;
  background-color: lightblue;
  opacity: 0.9;
  font-weight: bold;
  width: 80%;
}

p {
  text-align: center;
  width: 80%;
}

.grid-container {
  border-radius: 10px;
  margin:auto;
  width: 75%;
  height:100px;
  display: table;
  background-color:#e9ecef;
  -webkit-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.4);
  box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.4);
}
.col1{
	display: table-cell;
	width:5%;
}
.col2{
	display: table-cell;
	width:85%;
	
}
.col3{
	display: table-cell;
	width:20%;
}

i{	
	font-size:30px;
	padding-top:20px;
}

#score{
	text-align:left;
	padding-left:40px;
	padding-left:20px;
}
#sentiment{
	text-align:left;
	padding-left:40px;
	padding-left:20px;
}
#comment{
	text-align:left;
	padding-left:30px;
}

#info{
	font-size:12px;
	margin-left:auto;
}

nav{
	text-decoration: none;
    font-family: 'Raleway', sans-serif;
	font-weight:bold;
	background-color: #3E4551;	
	margin:0;
    overflow: hidden;
}

nav ul{
	color:white;
    margin: 0;
    padding: 0;
}

nav ul li  {
  float: left;
  color:white;
  text-decoration:none;
  display: inline;
  border-right: 1px solid #555;
}

li a  {
  color:white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top:32px;
  font-size:20px;
}

li a:hover {
  background-color: #111;
}

li a:active {
  background-color: #;
}

search-container{
	width:100%;
	align-content: center;
	
}

input{
  border-radius:5px;
  margin-left:50px;
  width: 100%;
  max-width: 350px;
  height: 20px; 
}



#tag{
	font-size:12px;
	margin-left:10%;
}


.brand-logo{
	font-size:24px;
	font-family: 'Raleway', sans-serif;
	color:#ff6f00;
}

.abt-search{
	font-family: Open Sans;
	font-size:24px;
}

.abt-data{
		font-family: Open Sans;
	
}



embed {
  text-align: center;
  width: 100%;
  height: 75vw;
}

.search {
	
	margin-left:300px;
	
}

.word-cloud{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	height:600px;
	border: 2px solid;
	
}
